<section id="contacts" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="adress col-md-4">
      <address>
        <h2> Наш адрес</h2>
        Москва<br>
        Осташковская улица 14<br>
        <strong>8 (977) 533 75 56</strong> <br>
      </address>
      </div>
      <div class="map-container col-md-4 col-md-6">
        <a href="https://yandex.ru/maps/?um=constructor:ye9lmlCU_gKHtIb6WQJSvtlkT1BCvE_7&amp;source=constructorStatic" target="_blank"><img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?sid=ye9lmlCU_gKHtIb6WQJSvtlkT1BCvE_7&amp;width=600&amp;height=418&amp;lang=ru_RU&amp;sourceType=constructor" alt="" style="border: 0;" /></a>
        <!--<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=ye9lmlCU_gKHtIb6WQJSvtlkT1BCvE_7&amp;width=700&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>-->
      </div>
    </div>
  </div>
</section>