<!-- Portfolio Categories Modal  -->
<div class="portfolio-modal modal fade" id="portfolioCategoriesModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <section id="portfolio">
                <div class="row">
                  <h2>Примеры наших работ</h2>
                </div>
                <div class="row">
                  <%@categories.each do |category|%>
                      <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="#portfolioItemsModal<%=category.id%>" class="portfolio-link" data-toggle="modal">
                          <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                              <i class="fa fa-hand-pointer-o fa-3x"></i>
                            </div>
                          </div>
                          <%=image_tag(category.photo.url, :class => 'img-responsive')%>
                        </a>
                        <div class="portfolio-caption">
                          <h4><%=category.name%></h4>
                        </div>
                      </div>
                  <%end%>
                </div>
              </section>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>