<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Меню <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll logo-ref" href="#page-top">
        Qdip
        <%=image_tag('norm_logo2.png', :class => 'logo')%>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li><a href="#info" class="page-scroll">ИНФО</a></li>
        <li><a href="#portfolio" class="page-scroll">ПРИМЕРЫ РАБОТ</a></li>
        <li><a href="#prices" class="page-scroll">ЦЕНЫ</a></li>
        <li><a href="#contacts" class="page-scroll">КОНТАКТЫ</a></li>
        <li><a href="#contact_us" class="page-scroll">ЗАКАЗАТЬ ЗВОНОК</a></li>
        <!--<li><a href="#adress" class="page-scroll">АДРЕС</a></li>-->
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>