<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Новый звонок</h1>
<p><%=time_tag(@time)%> cовершен заказ звонка на номер <%=@phone_number%>.</p>
<br>
Система оповещения QDIP
</body>
</html>